<!DOCTYPE html>
<html class="no-js" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Netflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"
        integrity="sha256-t2kyTgkh+fZJYRET5l9Sjrrl4UDain5jxdbqe8ejO8A=" crossorigin="anonymous" />

    <link rel="stylesheet" href="http://localhost/assets/css/global.css">
    <link rel="stylesheet" href="http://localhost/assets/css/browse.css">
    <link rel="stylesheet" href="http://localhost/assets/css/userprofile.css">

</head>

<body>

    <main id="mainContainer" class="p-b-40">

		<header th:replace="Dashboard/header :: dashHeader"></header>
        <!--profile section-->
        <section class="userprofile" id="userprofilecontainer">
            <div>
                <h2 class="heading f-s-40">
                    Account
                </h2>
            </div>
            <div class="line"></div>
            <div class="membership d-flex flex-no-wrap space-between">
                <div class="left">
                    <h4 class="headline">
                        MEMBERSHIP & BILLING
                    </h4>
                    <button class="button">Cancel Membership</button>
                </div>
                <div class="right">
                    <div class="d-flex space-between">
                        <div class="email">
                            <strong th:text="${user.email}"></strong>
                        </div>
                        <div class="link">
                            <a href="/Immerse/dashboard/emailchange" class="link-item">
                                Change account email
                            </a>
                        </div>
                    </div>

                    <div class="d-flex space-between">
                        <div class="password">
                            Password: *********
                        </div>
                        <div class="link">
                            <a href="/Immerse/dashboard/passchange" class="link-item">
                                Change password
                            </a>
                        </div>
                    </div>

                    <div class="d-flex space-between">
                        <div class="email">
                        <span th:text="${user.mobile_no}"></span>
                        </div>
                        <div class="link">
                            <a href="/Immerse/dashboard/changephone" class="link-item">
                                Change phone number
                            </a>
                        </div>
                    </div>
                    <div class="line"></div>

                    <div class="line"></div>

                </div>  
            </div>
            <div class="line"></div>

            <!--plan details-->
            <div class=" plan-details d-flex flex-middle space-between">
                <div class="left">
                    <h4 class="headline">PLAN DETAILS</h4>
                </div>
                <div class="right d-flex space-between">
                    <p th:text="${user.plan}"></p>
                    <a href="/Immerse/signup/planform" class="link-item">Change plan</a>
                </div>
            </div>
            <div class="line"></div>

        </section>

        <!--footer section and footer fixed menu mobile-->


		<footer th:replace="Dashboard/footer :: footer"></footer>

    </main>

    <div class="footer-navigation d-flex space-between">
        <a href="browse.html" class="nav-item active">
            <i class="fa fa-home" aria-hidden="true"></i> </br>
            <span>Home</span>
        </a>
        <a href="search.html" class="nav-item">
            <i class="fa fa-search" aria-hidden="true"></i></br>
            Search
        </a>
        <a href="latest.html" class="nav-item">
            <i class="fa fa-film" aria-hidden="true"></i></br>
            Latest
        </a>
        <a href="user-profile/home.html" class="nav-item">
            <i class="fa fa-user" aria-hidden="true"></i></br>
            Account
        </a>
    </div>


</body>

</html>
