<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="ForgotPassword/header :: head"></head>
<body>
    <main id="mainContainer" class="p-b-40">
		<header th:replace="ForgotPassword/header :: dashHeader"></header>
        <!--profile section-->
        <section class="userprofile" id="userprofilecontainer">
            <h1>Registered E-mail</h1>
            <h1>Registered E-mail</h1>
            <!-- <p>Protect your account with a unique password at least 6 characters long.
            </p><br> -->
			<form name="form" id="form" th:object="${request}">

                <input type="password" id="password" name="password" placeholder="New Password" style="width: 500px;height: 50px;border-radius: 5px;border-width: 1px;"><br><br>
                <input type="password" id="re_passs" name="re_pass" placeholder="Re-enter New Password" style="width: 500px;height: 50px;border-radius: 5px;border-width: 1px;"><br><br>
				<button class="button submitButton" id="changepassword" >Submit</button>
            </form>
            <br>
                
		<footer th:replace="ForgotPassword/footer :: footer"></footer>


        </section>
    </main>
	 
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	 
	 <script type="text/javascript">
		$("#changepassword").click(function(event) {
			event.preventDefault();
			const project = ((window.location.pathname).split("/")[1]);

			$.ajax({
				url: "/" + project + '/account/forgotpassword/updatepassword',
				method: "POST",
				data: $('#form').serialize(),
				success: function(response) {
					if(response.isBool) {
						window.location.href="/" + project + response.message;
					}
					else {
						alert(response.msg);
					}
				},
				error: function(response) {
					alert("Failed");
				}
			});
		});
	 </script>
</body>
</html>